<nav class="bg-gradient-to-r from-teal-900 to-gray-900 text-white text-bold p-4">
    <ul class="grid grid-cols-2 md:grid-cols-8 w-full justify-center gap-1">
        <li>
            <a routerLink="/home"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Home
            </a>
        </li>

        <li>
            <a routerLink="/Assigment"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Assignments
            </a>
        </li>

        <li>
            <a routerLink="/Schedule"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Schedules
            </a>
        </li>

        <li>
            <a routerLink="/Turn"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Turns
            </a>
        </li>

        <li>
            <a routerLink="/Professor"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Professors
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Courses
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Classrooms
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Attendances
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Products
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Categories
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Justifications
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               PurchaseOrders
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Qualifications
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               Services
            </a>
        </li>

        <li>
            <a routerLink="/"
               routerLinkActive="bg-gray-900"
               class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 no-underline">
               TypeServices
            </a>
        </li>
    </ul>
</nav>
