<div class="flex justify-center p-2">
    <form [formGroup]="productForm" (ngSubmit)="enviarFormulario()" class="space-y-4 p-4 border rounded w-50 shadow-[0_5px_10px_2px_rgba(0,0,0,0.25)]">

        <label for="nameProfessor" class="block font-semibold">Name Professor:</label>
        <input type="text" id="nameProfessor" formControlName="nameProfessor" class="border p-2 w-full">
        <div *ngIf="productForm.get('nameProfessor')?.invalid && productForm.get('nameProfessor')?.touched">
          <small *ngIf="productForm.get('nameProfessor')?.errors?.['required']" class="text-red-500">El nombre es obligatorio.</small>
          <small *ngIf="productForm.get('nameProfessor')?.errors?.['minlength']" class="text-red-500">El nombre debe tener al menos 5 caracteres.</small>
        </div>
      
        <label for="lastNameProfessor" class="block font-semibold">Last Name Professor:</label>
        <input type="text" id="lastNameProfessor" formControlName="lastNameProfessor" class="border p-2 w-full">
        <div *ngIf="productForm.get('lastNameProfessor')?.invalid && productForm.get('lastNameProfessor')?.touched" class="text-red-500">
          <small *ngIf="productForm.get('lastNameProfessor')?.errors?.['required']">El Apellido es obligatorio.</small>
          <small *ngIf="productForm.get('lastNameProfessor')?.errors?.['min']">El nombre debe tener al menos 5 caracteres.</small>
        </div>
    
        <label for="emailProfessor" class="block font-semibold">Email Professor:</label>
        <input type="email" id="emailProfessor" formControlName="emailProfessor" class="border p-2 w-full">
        <div *ngIf="productForm.get('emailProfessor')?.invalid && productForm.get('emailProfessor')?.touched" class="text-red-500">
          <small *ngIf="productForm.get('emailProfessor')?.errors?.['required']">El email es obligatorio.</small>
          <small *ngIf="productForm.get('emailProfessor')?.errors?.['min']">El email debe tener al menos 5 caracteres.</small>
        </div>
    
        <label for="degree" class="block font-semibold">Degree:</label>
        <input type="text" id="degree" formControlName="degree" class="border p-2 w-full">
        <div *ngIf="productForm.get('degree')?.invalid && productForm.get('degree')?.touched" class="text-red-500">
          <small *ngIf="productForm.get('degree')?.errors?.['required']">El grado academico es obligatorio.</small>
          <small *ngIf="productForm.get('degree')?.errors?.['min']">El grado academico debe tener al menos 5 caracteres.</small>
        </div>
          
        <div class="flex justify-center space-x-2 p-4">
          <a routerLink="/Professor" class="bg-green-500 text-white p-2 rounded text-decoration-none">Cancelar</a>
          <button type="submit" class="bg-blue-500 text-white p-2 rounded"> 
            Guardar
          </button>
        </div>
    </form>
</div>